html,
body {
  background: white;
  font-size: 16px;
  line-height: 1.2;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}

body {
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}
.temp_container {
  background: rgba(255, 0, 0, 0.5);
  border: 1px solid red;
}
.aspect-16x9 {
  padding-top: calc(450 / 800 * 100%);
  height: 0;
  position: relative;
}
.aspect-16x9 > * {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

/* Global H Styles */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.4;
}
h1 {
  font-size: 48px;
  line-height: 1.1;
}
h2 {
  font-size: 32px;
}
h3 {
  font-size: 24px;
}
h4 {
  font-size: 18px;
}

.temp_block {
  background: rgba(0, 0, 255, 0.5);
  margin-bottom: 1rem;
}

/* Specific Sections Start Here */
.header_area {
  background: #1f2937;
  color: white;

  position: sticky;
  top: 0;
  background: #1f2937;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.logo {
  font-size: 24px;
}

.header_nav {
  list-style-type: none;
  display: flex;
  gap: 1.5rem;
}
.header_nav li {
}
.header_nav a {
  color: #ccc;
  text-decoration: none;
}
.header_nav a:hover {
  color: white;
  text-decoration: underline;
}

/* Main section */
.main {
  background: #1f2937;
  color: white;

  padding: 50px 0;
}

.main .container {
  display: flex;
  align-items: center;
}

.main-text {
  flex: 1;
  padding-right: 3rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-start;
}
.main-image_area {
  flex: 1;
}
.main-image {
  display: block;
  width: 100%;
}

/* Random Block */
.random_info_block {
  background: white;
}
.random_info_block .container {
  padding: 50px 0;
}
.random_info_block h3 {
  text-align: center;
  margin-bottom: 2rem;
}
.random_list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}
.random_block {
  width: min-content;
}
.random_block-image {
  width: 175px;
  height: 175px;
  background-size: cover;
  background-repeat: no-repeat;

  border: 2px solid royalblue;
  border-radius: 0.5rem;

  margin-bottom: 0.5rem;
}
.random_block-description {
  font-size: 0.75rem;
  color: #aaa;
  text-align: center;
}

.quote_area {
  background: #e5e7eb;
}
.quote_area .container {
}
.quote {
  padding: 5rem;
}
.quote-text {
  font-size: 36px;
  font-style: italic;
  font-weight: light;
  color: #1f2937;
}
.quote-author {
  text-align: right;
  font-weight: bold;
  font-size: 24px;
}
.quote-author::before {
  content: "-";
}
.action_area {
  background: white;
}
.action_area .container {
  padding: 50px 0;
}
.action_block {
  background: royalblue;
  color: white;

  padding: 50px 100px;
  border-radius: 0.5rem;

  display: flex;
  align-items: flex-start;
}
.action_block-text {
  flex: 1;
}

.footer_area {
  background: #1f2937;
  color: white;
  margin-top: auto;
}
.footer_area .container {
  padding: 20px 0;
}

.copyright {
  text-align: center;
}
